/* Define global colors for impact and other common styles */
:root {
    /* Impact colors */
    --impact-minor: #ffe082;
    --impact-minor-text: #000;
    --impact-moderate: #90caf9;
    --impact-moderate-text: #000;
    --impact-serious: #ef9a9a;
    --impact-serious-text: #000;
    --impact-critical: #d32f2f;
    --impact-critical-text: #fff;

    /* Common styles */
    --border-radius: 4px;
    --border-color: #e0e0e0;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --btn-padding: 6px 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --transition: background-color 0.3s;
    --hover-bg-btn: #155a8a;
    --run-test-bg-btn: #4caf50;
    --run-test-text-btn: #fff;
    --clear-test-bg-btn: #fedad7;
    --clear-test-text-btn: #565656;
    --table-header-bg: #f2f2f2;
    --table-border: #ccc;
}

/* CSS Reset for Specific Elements */
#a11y-results *,
#a11y-results *::before,
#a11y-results *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

/* Container for the entire result set */
#a11y-results {
    margin-top: 20px;
    padding: 10px;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

/* Container for each violation section */
#a11y-results > div {
    margin: 15px 0;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: #fff;
    box-shadow: var(--box-shadow);
}

/* Collapsible buttons */
#a11y-results button.collapsible {
    background-color: #5f9ff2;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: var(--font-size-14);
    border: none;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

#a11y-results button.collapsible:active,
#a11y-results button.collapsible:hover {
    background-color: var(--hover-bg-btn);
}

/* Content blocks */
#a11y-results div.a11y-content {
    padding: 10px;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: var(--border-radius);
    margin-top: 5px;
}

/* Tables */
#a11y-results table {
    margin: 10px 0;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    border: 1px solid var(--table-border);
}

/* Table Headers */
#a11y-results th {
    background-color: var(--table-header-bg);
    padding: 8px;
    text-align: left;
    border: 1px solid var(--table-border);
    width: 15%;
    white-space: normal;
    word-wrap: break-word;
}

/* Table Data */
#a11y-results td {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--table-border);
    white-space: normal;
    word-wrap: break-word;
}

/* Links */
#a11y-results a {
    color: #1a73e8;
    text-decoration: none;
}

#a11y-results a:hover {
    text-decoration: underline;
}

/* Impact-based colors */
#a11y-results button.collapsible.impact-minor {
    background-color: var(--impact-minor);
    color: var(--impact-minor-text);
}

#a11y-results button.collapsible.impact-moderate {
    background-color: var(--impact-moderate);
    color: var(--impact-moderate-text);
}

#a11y-results button.collapsible.impact-serious {
    background-color: var(--impact-serious);
    color: var(--impact-serious-text);
}

#a11y-results button.collapsible.impact-critical {
    background-color: var(--impact-critical);
    color: var(--impact-critical-text);
}

#a11y-results tr td.impact-minor {
    background-color: var(--impact-minor);
    color: var(--impact-minor-text);
}

#a11y-results tr td.impact-moderate {
    background-color: var(--impact-moderate);
    color: var(--impact-moderate-text);
}

#a11y-results tr td.impact-serious {
    background-color: var(--impact-serious);
    color: var(--impact-serious-text);
}

#a11y-results tr td.impact-critical {
    background-color: var(--impact-critical);
    color: var(--impact-critical-text);
}

/* Buttons */
#run-a11y-test-button,
#clear-a11y-test-button {
    border: none;
    padding: var(--btn-padding);
    text-align: center;
    font-size: var(--font-size-16);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

#run-a11y-test-button {
    background-color: var(--run-test-bg-btn);
    color: var(--run-test-text-btn);
}

#run-a11y-test-button:hover {
    filter: brightness(90%);
}

#clear-a11y-test-button {
    background-color: var(--clear-test-bg-btn);
    color: var(--clear-test-text-btn);
}

#clear-a11y-test-button:hover {
    filter: brightness(90%);
}

li.summary-passes {
    color: var(--run-test-bg-btn);
    font-size: 1.2em;
}

li.summary-violations {
    color: var(--impact-critical);
    font-size: 1.2em;
}

li.summary-inapplicable {
    color: #555;
    font-size: 0.9em;
}

li.summary-incomplete {
    color: #555;
    font-size: 0.9em;
}
